[Desktop Entry]
Name=Proyector
Comment=Duplicar pantallas en proyector
Exec=/usr/local/bin/proyector-aulas.sh
Icon=/usr/share/icons/HighContrast/256x256/devices/display-projector.png
Terminal=false
Type=Application
Name[es_ES]=proyector.desktop

